@tailwind base;
@tailwind components;
@tailwind utilities;

#nav-list li{
  position: relative;
  z-index: 1;
  display: inline-block;
}

#nav-list span{
  height: 30%;
  background: #CCCCCC;
  opacity: 0.2;
  border-radius: 9999px;
  transition: .5s;
  margin-bottom: 0.2vw;
}
