/* Estilo para el texto resaltado */
.highlighted {
    animation: flash 1s step-start infinite;
}

/* Animación intermitente */
@keyframes flash {
    0% {
        border-color: red;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: red;
    }
}
