@tailwind base;
@tailwind components;
@tailwind utilities;

#nav-list li{
  position: relative;
  z-index: 1;
  display: inline-block;
}

#nav-list span{
  top: 32%;
  width: 80px;
  height: 35%;
  background: #CCCCCC;
  opacity: 0.2;
  border-radius: 9999px;
  transition: .5s;
}
