@tailwind base;
@tailwind components;
@tailwind utilities;

#nav-list span{
  height: 10%;
  background: #CCCCCC;
  opacity: 0.2;
  border-radius: 9999px;
  transition: .5s;
  margin-bottom: 0.2vw;
}

hr{
  border: none;
  height: 1px;
  background-color: #cccccc;
  opacity: 0.8;
}
